.ingredientBox {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "image image"
    "price priceIcon"
    "name name";
  row-gap: 4px;
  position: relative;
  cursor: pointer;
}

.image {
  grid-area: image;
}

.price {
  grid-area: price;
  justify-self: right;
  align-self: center;
}

.priceIcon {
  grid-area: priceIcon;
  justify-self: left;
  align-self: center;
  display: flex;
}

.name {
  grid-area: name;
  text-align: center;
  min-height: 48px;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}
