.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  padding: 120px 0 0 0;
}

.buttonContainer {
  display: none;
  gap: 20px;
  justify-content: end;
}

.cancelButton {
  padding: 16px 8px;
}

.buttonContainer_visible {
  display: flex;
}
