@-moz-keyframes rocketMovement {
  100% {
    -moz-transform: translate(1200px, -600px);
  }
}
@-webkit-keyframes rocketMovement {
  100% {
    -webkit-transform: translate(1200px, -600px);
  }
}
@keyframes rocketMovement {
  100% {
    transform: translate(1200px, -600px);
  }
}
@-moz-keyframes spinEarth {
  100% {
    -moz-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@-webkit-keyframes spinEarth {
  100% {
    -webkit-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@keyframes spinEarth {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}

@-moz-keyframes moveAstronaut {
  100% {
    -moz-transform: translate(-160px, -160px);
  }
}
@-webkit-keyframes moveAstronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
  }
}
@keyframes moveAstronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
    transform: translate(-160px, -160px);
  }
}
@-moz-keyframes rotateAstronaut {
  100% {
    -moz-transform: rotate(-720deg);
  }
}
@-webkit-keyframes rotateAstronaut {
  100% {
    -webkit-transform: rotate(-720deg);
  }
}
@keyframes rotateAstronaut {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

@-moz-keyframes glowStar {
  40% {
    -moz-opacity: 0.3;
  }
  90%,
  100% {
    -moz-opacity: 1;
    -moz-transform: scale(1.2);
  }
}
@-webkit-keyframes glowStar {
  40% {
    -webkit-opacity: 0.3;
  }
  90%,
  100% {
    -webkit-opacity: 1;
    -webkit-transform: scale(1.2);
  }
}
@keyframes glowStar {
  40% {
    -webkit-opacity: 0.3;
    opacity: 0.3;
  }
  90%,
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-radius: 999999px;
  }
}

.spinEarthOnHover {
  transition: ease 200s !important;
  transform: rotate(-3600deg) !important;
}

.centralBody {
  padding: 17% 5% 10% 5%;
  text-align: center;
}

.objects img {
  z-index: 90;
  pointer-events: none;
}

.objectRocket {
  z-index: 95;
  position: absolute;
  transform: translateX(-50px);
  top: 75%;
  pointer-events: none;
  animation: rocketMovement 100s linear infinite both running;
}

.objectEarth {
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 90;
  animation: spinEarth 80s infinite linear both;
}

.objectMoon {
  position: absolute;
  top: 12%;
  left: 25%;
  transform: rotate(0deg);
  transition: transform ease-in 99999999999s;
}

.earthMoon {
}

.objectAstronaut {
  animation: rotateAstronaut 100s infinite linear both alternate;
}

.boxAstronaut {
  z-index: 110 !important;
  position: absolute;
  top: 60%;
  right: 20%;
  will-change: transform;
  animation: moveAstronaut 50s infinite linear both alternate;
}

.text404 {
  font-size: 136px;
}

.stars {
  background-size: contain;
  background: url(../images/overlay_stars.svg) repeat left top;
}

.glowingStars .star {
  position: absolute;
  border-radius: 100%;
  background-color: #fff;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  will-change: opacity;
}

.glowingStars .star:nth-child(1) {
  top: 80%;
  left: 25%;
  animation: glowStar 2s infinite ease-in-out alternate 1s;
}
.glowingStars .star:nth-child(2) {
  top: 20%;
  left: 40%;
  animation: glowStar 2s infinite ease-in-out alternate 3s;
}
.glowingStars .star:nth-child(3) {
  top: 25%;
  left: 25%;
  animation: glowStar 2s infinite ease-in-out alternate 5s;
}
.glowingStars .star:nth-child(4) {
  top: 75%;
  left: 80%;
  animation: glowStar 2s infinite ease-in-out alternate 7s;
}
.glowingStars .star:nth-child(5) {
  top: 90%;
  left: 50%;
  animation: glowStar 2s infinite ease-in-out alternate 9s;
}

@media only screen and (max-width: 600px) {
  .boxAstronaut {
    top: 70%;
  }

  .centralBody {
    padding-top: 25%;
  }
}
